.containerLanding {
  background-color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  width: 90%;
  height: 90%;
  margin: 2rem auto 2rem auto;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 10px #83838340;
}

.containerH1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSocial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerP {
  margin: 1rem auto 1rem auto;
  width: 60%;
  height: 90%;
}

.containerSocialP {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.containerPbutton {
  display: flex;
  flex-direction: column;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 2rem auto;
  width: 30%;
}

.buttonRegisterLanding,
.buttonLogin {
  gap: 0.3rem;
  width: 30%;
  background-color: #6366f1;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1em;
}

.buttonRegisterLanding:hover {
  background-color: #4f46e5;
}

.buttonLogin:hover {
  background-color: #4f46e5;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
}

.footer {
  margin: 5rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleLanding {
  font-family: Poppins;
}

.textWelcome {
  font-family: Poppins;
  font-weight: 600;
}

.textDesign {
  font-family: Poppins;
  font-weight: 600;
}

.copyright {
  font-family: Poppins;
  font-weight: 600;
}
