.containerLanding {
  background-color: #ffffff;
  margin: 1rem;
  padding: 2rem;
  width: 85%;
  height: 90%;
  margin: 2rem auto 2rem auto;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 10px #83838340;
}

.containerH1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSocial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.containerP {
  margin: 1rem auto 1rem auto;
  width: 100%;
  height: 90%;
  background-image: url("src/assets/imagenAutoLlave.png");
  background-size: cover;
  padding: 1rem;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 1rem 3rem 1rem 3rem;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 2rem auto;
  width: 30%;
}

.buttonRegisterLanding,
.buttonLogin {
  height: 3.2rem;
  gap: 0.3rem;
  width: 40%;
  background-color: #6366f1;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1em;
}

.buttonRegisterLanding:hover {
  background-color: #4f46e5;
}

.buttonLogin:hover {
  background-color: #4f46e5;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2rem 0 2rem 0;
}

.footer {
  margin: 5rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleLanding {
  font-family: Poppins;
}

.textWelcome {
  font-family: Poppins;
  font-weight: 600;
}

.textDesign {
  font-family: Poppins;
  font-weight: 600;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #474545;
}

.copyright {
  font-family: Poppins;
  font-weight: 600;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  color: #777;
}
