@keyframes fadeInRow {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-row {
  animation: fadeInRow 0.3s ease-in;
}
.no-results-text {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-style: italic;
  color: #6b7280;
  font-size: 12px;
  animation: fadeInRow 0.3s ease-in-out;
}
