.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
}
.footerSection {
  flex: 1 1 250px;
}
.footerSection h4 {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-bottom: 0.75rem;
  color: #6366f1;
}
.footerSection p {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin: 0.3rem 0;
}
.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: -2rem;
  height: auto;
}
.logo {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s;
}
.logo:hover {
  color: #6366f1;
}
.footerBottom {
  text-align: center;
  margin-top: 4rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
  font-size: 0.7rem;
}
.footerBottom h6 {
  font-weight: 300;
  font-size: 0.6rem;
  margin-bottom: 1.5rem;
}
.h2-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-title-landing {
  margin-right: 10px;
  color: #6366f1;
  filter: drop-shadow(0 0 0.05rem white);
}
