.contenedor {
  background-color: #f0f0f0;
}

.DatosFacturacion {
  width: 60.688em;
  height: 21.875em;
  border-radius: 0.625em;
  background-color: #ffffff;
  margin: 1em;
}

.titleDatos {
  margin: 1em;
}

.subtituloDatos {
  margin: 1em;
}

.paso1 {
  margin: 1em;
}

.labelDatos {
  margin: 1em;
}

.inputDatos {
  width: 21.875em;
  height: 3.125em;
  background-color: #f0f0f0;
  margin: 1em;
}

.metodoPago {
  width: 60.688em;
  height: 31.875em;
  background-color: #ffffff;
  border-radius: 0.625em;
  margin: 1em;
}

.tituloMetodo {
  margin: 1em;
}

.subtituloMetodo {
  margin: 1em;
}

.paso2 {
  margin: 1em;
}

.ingresoTarjeta {
  width: 54.688em;
  height: 19.25em;
  background-color: #f0f0f0;
  border-radius: 0.625em;
  margin: 1em;
}

.selectMetodo {
  width: 8.438em;
  height: 1.25em;
  margin: 1em;
}

.labelMetodo {
  margin: 1em;
}

.inputMetodo {
  width: 22.625em;
  height: 3.5em;
  margin: 1em;
  border-radius: 0.625em;
}

.cajaTransferenciaBancaria {
  width: 54.688em;
  height: 3.75em;
  background-color: #f0f0f0;
  border-radius: 0.625em;
  margin: 1em;
}

.transferenciaBancaria {
  margin: 1em;
}

.infoImportante {
  width: 60.813em;
  height: 34.063em;
  border-radius: 0.625em;
  background-color: #ffffff;
  margin: 1em;
}

.tituloInfo {
  margin: 1em;
}

.subtituloInfo {
  margin: 1em;
}

.paso3 {
  margin: 1em;
}

.seguroDelAuto {
  width: 60.813em;
  height: 34.063em;
  border-radius: 0.625em;
  margin: 1em;
}

.tituloSeguro {
  margin: 1em;
}

.liSeguroAuto {
  margin: 1em;
}

.entregaYdevolucion {
  width: 35.938em;
  height: 5.625em;
  margin: 1em;
}

.tituloEntrega {
  margin: 1em;
}

.liEntrega {
  margin: 1em;
}

.requisitosAlRetirar {
  width: 27.25em;
  height: 5.625em;
  margin: 1em;
}

.TituloRequisitos {
  margin: 1em;
}

.liRequisitos {
  margin: 1em;
}

.aceptoTerminos {
  width: 1.563em;
  height: 1.563em;
  border-radius: 0.313;
  border: solid black 0.063;
  margin: 1em;
}

.textoAcepto {
  margin: 1em;
}

.resumenDeAlquiler {
  border-radius: 0.625em;
  background-color: #ffffff;
  margin: 1em;
}

.tituloResumen {
  margin: 1em;
}

.subtituloResumen {
  margin: 1em;
}

.imagenResumen {
  width: 11.239em;
  height: 5.375em;
  margin: 1em;
}

.nombreAutos {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.375em;
  margin: 1em;
}

.valoracionResumen {
  width: 6.75em;
  height: 20px;
  gap: 0.125em;
  margin: 1em;
}

.estrella {
  width: 1.25em;
  height: 1.25em;
  margin: 1em;
}

.valoracion {
  margin: 1em;
}

.linea {
  width: 27.875em;
  height: 0.063em;
  border: solid #000000 0.063em;
  margin: 1em;
}

.tituloSubtotal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25em;
  margin: 1em;
}

.subtotal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25em;
  margin: 1em;
}

.tituloImpuestos {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25em;
  margin: 1em;
}

.impuestos {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25em;
  margin: 1em;
}

.tituloPrecioFinal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25em;
  margin: 1em;
}

.subtituloPrecioFinal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.875em;
  margin: 1em;
}

.precioFinal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.75em;
  margin: 1em;
}

.botonRentar {
  width: 18.75em;
  height: 4.375em;
  border-radius: 0.625em;
  background-color: #5939f2;
  margin: 1em;
}

.botonCancelar {
  width: 18.75em;
  height: 4.375em;
  border-radius: 0.625em;
  border: solid black 1px;
  margin: 1em;
}
