.DatosFacturacion {
  width: 971px;
  height: 350px;
  top: 182px;
  left: 104px;
}

.titleDatos {
  width: 245px;
  height: 36px;
  top: 10px;
  left: 41px;
}

.subtituloDatos {
  width: 236px;
  height: 21px;
  top: 43px;
  left: 46px;
}

.paso1 {
  width: 79px;
  height: 23px;
  top: 16px;
  left: 864px;
}

.labelDatos {
  width: 56px;
  height: 21px;
}

.inputDatos {
  width: 350px;
  height: 50px;
  top: 31px;
  left: 10px;
}

.metodoPago {
  width: 971px;
  height: 510px;
  top: -4px;
  border-radius: 10px;
}

.tituloMetodo {
  width: 192px;
  height: 36px;
  top: 10px;
  left: 41px;
}

.subtituloMetodo {
  width: 208px;
  height: 21px;
  top: 43px;
  left: 46px;
}

.paso2 {
  width: 83px;
  height: 23px;
  top: 20px;
  left: 864px;
}

.ingresoTarjeta {
  width: 875px;
  height: 308px;
  top: 85px;
  left: 48px;
  border-radius: 10px;
}

.selectMetodo {
  width: 135px;
  height: 20px;
}

.labelMetodo {
  width: 140px;
  height: 20px;
}

.inputMetodo {
  width: 362px;
  height: 56px;
  top: 36px;
  border-radius: 10px;
}

.cajaTransferenciaBancaria {
  width: 875px;
  height: 60px;
  top: 411px;
  left: 48px;
  border-radius: 10px;
}

.transferenciaBancaria {
  width: 168px;
  height: 20px;
}

.infoImportante {
  width: 973px;
  height: 545px;
  border-radius: 10px;
}

.tituloInfo {
  width: 280px;
  height: 36px;
  top: 17px;
  left: 41px;
}

.subtituloInfo {
  width: 321px;
  height: 21px;
  top: 49px;
  left: 46px;
}

.paso3 {
  width: 83px;
  height: 23px;
  top: 26px;
  left: 864px;
}

.seguroDelAuto {
  width: 973px;
  height: 545px;
  border-radius: 10px;
}

.tituloSeguro {
}

.liSeguroAuto {
}

.entregaYdevolucion {
  width: 573px;
  height: 90px;
  top: 1307px;
  left: 170px;
}

.tituloEntrega {
}

.liEntrega {
}

.requisitosAlRetirar {
  width: 436px;
  height: 90px;
  top: 1433px;
  left: 170px;
}

.TituloRequisitos {
}

.liRequisitos {
}

.aceptoTerminos {
  width: 25px;
  height: 25px;
  top: 478px;
  left: 65px;
  border-radius: 5px;
  border: solid black 1px;
}

.textoAcepto {
  width: 244px;
  height: 24px;
  top: 478px;
  left: 102px;
}

.resumenDeAlquiler {
  width: 500px;
  height: 550px;
  top: 178px;
  left: 1134px;
  border-radius: 10px;
}

.tituloResumen {
  width: 249px;
  height: 36px;
  top: 198px;
  left: 1161px;
}

.subtituloResumen {
  width: 432px;
  height: 42px;
  top: 234px;
  left: 1168px;
}

.imagenResumen {
  width: 179.82px;
  height: 86px;
  top: 327px;
  left: 1168px;
}

.nombreAutos {
  width: 225px;
  height: 33px;
  top: 326px;
  left: 1362px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
}

.valoracionResumen {
  width: 108px;
  height: 20px;
  gap: 2px;
}

.estrella {
  width: 20px;
  height: 20px;
}

.valoracion {
  width: 71px;
  height: 20px;
}

.linea {
  width: 446px;
  height: 1px;
  top: 444px;
  left: 1161px;
}

.tituloSubtotal {
  width: 83px;
  height: 30px;
  top: 462px;
  left: 1165px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}

.subtotal {
  width: 91px;
  height: 30px;
  top: 462px;
  left: 1512px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}

.tituloImpuestos {
  width: 104px;
  height: 30px;
  top: 504px;
  left: 1165px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}

.impuestos {
  width: 79px;
  height: 30px;
  top: 504px;
  left: 1523px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}

.tituloPrecioFinal {
  width: 194px;
  height: 30px;
  top: 601px;
  left: 1161px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}

.subtituloPrecioFinal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  width: 266px;
  height: 21px;
  top: 631px;
  left: 1261px;
}

.precioFinal {
  width: 126px;
  height: 42px;
  top: 610px;
  left: 1481px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 28px;
}

.botonRentar {
  width: 300px;
  height: 70px;
  top: 1684px;
  left: 106px;
  border-radius: 10px;
  background-color: #5939f2;
}

.botonCancelar {
  width: 300px;
  height: 70px;
  top: 1684px;
  left: 777px;
  border-radius: 10px;
  border: solid black 1px;
}
