.cardConteiner {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  width: 300px;
  height: 420px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 10px;
  min-width: 250px;
}

.cardTitle {
  font-weight: 500;

  font-size: 1.2rem;
  margin: 0;
}

.carType {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0;
  color: #2b2b2b98;
}

.headConteiner {
  display: flex;
  flex-direction: column;
}

.cardImage {
  width: 230px;
  min-width: 150px;
  height: 110px;
  margin: 20px auto 0 auto;
  display: block;
}

.cardDataCar {
  display: flex;
  justify-content: space-between;
  color: #90a3bf;
  font-weight: 500;
  margin: 10px 20px 0 0;
}

.cardLabel {
  font-weight: 500;
  color: #90a3bf;
  margin-bottom: 0;
  margin-top: 2.5rem;
}

.cardPrice {
}

.priceValue {
  color: #1a202c;
  font-weight: 600;
  font-size: 1.25rem;
}

.priceUnit {
  font-weight: 500;
  color: #d4d5ff;
}

/* Button */

.cardButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  color: #fff;
  padding: 20px 100px;
  border-radius: 5px;
  background-color: #9ea4ff;
  transition: all 0.3s ease-in-out;
}

.cardButton button:hover {
  background-color: #7371fc;
}

.iconUsers {
  margin-right: 6px;
}

.iconRoad {
  margin-right: 6px;
}
