.overlayBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */

  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayConteiner {
  position: relative;
  height: 650px;
  width: 750px;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  color: #1a202c;
}

.overlayContent {
  padding: 2.5rem;
}

.overlayTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}

.carReserva {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.reservaInfo {
  display: flex;
  font-weight: 500;
  font-size: 1.25rem;
}

.carSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin-left: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}

/* PRECIO */

.text {
  font-size: 1.25rem;
  font-weight: 500;
}

.precio {
  font-size: 1rem;
}

/* Botones */

.btnsConteiner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 100px;
}

.btnsConteiner button {
  margin-top: 2rem;
  width: 250px;
  height: 60px;
  font-size: 1rem;
  font-weight: 500;
}

.btnCancelar {
  all: unset;
  color: red;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btnCancelar:hover {
  color: rgb(145, 2, 2);
}

.btnPagar {
  border-radius: 15px;
  background-color: #9ea4ff;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.btnPagar:hover:not(:disabled) {
  background-color: #7371fc;

  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btnPagar:active:not(:disabled) {
  transform: translateY(0);
}

/* INPUTS */

.inputConteiner {
  display: flex;
  flex-direction: column;
}

.labelInput {
  font-size: 1.25rem;
  font-weight: 500;
}

.inputDate {
  width: 25rem;
  height: 3rem;
  background-color: #eeeeee;
  border-radius: 0.6em;
  padding: 1em;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s;
  margin-bottom: 1.2rem;
}

.inputDate:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

/* STYLE ERRORS */

.errorMessage {
  color: red;
  font-size: 0.8rem;
  margin-top: rem;
  margin-bottom: 0.6rem;
  height: 0;
  transition: height 0.3s ease;
}

.errorMessage.visible {
  height: auto;
}
.errorContainer {
  min-height: 1.2rem; /* Espacio reservado */
  position: relative;
}

/* BTN DISABLED */

.btnPagar:disabled {
  background-color: #a5a5a5;
  color: #f0f0f0;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
