.profile-header {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 22px 32px;
  max-width: 1100px;
  margin: 20px auto;
}
.profile-title {
  font-size: 23px;
  font-weight: bold;
  color: #333;
  margin-bottom: 22px;
}
.profile-content {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
.img-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #5e49d8;
}
.profile-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.profile-details h2 {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 8px;
  color: #222;
}
.profile-details p {
  display: flex;
  align-items: center;
  margin: 2px 0;
  color: #555;
  font-size: 12px;
}
.edit-button {
  font-size: 11px;
  background-color: #5e49d8;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: 18px;
  transition: background 0.3s ease;
  width: 15%;
}
.edit-button:hover {
  background-color: #4935bd;
}
.fiEdit-icon {
  font-size: 13px;
}
.imProfile-icon {
  font-size: 18px;
  margin-right: 5px;
}
.icon-date {
  margin-right: 5px;
}
