.contenedorGeneral {
  margin: 0;
  padding: 0;
  height: 1400px;
}

body.dark .contenedorGeneral {
  background-color: rgb(37, 32, 32);
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  height: 100%;
}

body.dark .contenedor {
  background-color: rgb(37, 32, 32);
}

.DatosFacturacion {
  width: 45rem;
  height: 20rem;
  border-radius: 0.7rem;
  background-color: #ffffff;
  margin: 1rem;
  padding: 1em;
  box-shadow: 0 0 13px rgba(199, 199, 199, 0.1);
}

body.dark .DatosFacturacion {
  background-color: black;
}

.titleDatos {
  margin-left: 1rem;
  font-size: 24px;
}

.subtituloDatos {
  margin-left: 1rem;
  font-size: 14px;
  color: #90a3bf;
}

.paso1 {
  font-size: 15px;
  position: absolute;
  margin-left: 37rem;
  margin-top: -4rem;
  color: #90a3bf;
}

.labelDatos {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.inputDatos {
  width: 15rem;
  height: 2.5rem;
  background-color: #f0f0f0;
  border-radius: 0.6rem;
  border: none;
  padding-left: 1rem;
}

.error {
  height: 1rem;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
}

.gridDatosFacturacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5.2em 5.2em;
  gap: 0.6em;
  margin-left: 3em;
  margin-top: 2em;
}

.cajaInputDatos {
  display: flex;
  flex-direction: column;
}

.metodoPago {
  width: 45rem;
  min-height: 10rem;
  background-color: #ffffff;
  border-radius: 0.7rem;
  margin: 1rem;
  margin-top: 2rem;
  padding: 1em;
  box-shadow: 0 0 13px rgba(199, 199, 199, 0.1);
}

body.dark .metodoPago {
  background-color: #000000;
}

.tituloMetodo {
  margin-left: 1rem;
}

.subtituloMetodo {
  margin-left: 1rem;
  font-size: 14px;
  color: #90a3bf;
}

.paso2 {
  margin: 1rem;
  font-size: 15px;
  position: absolute;
  margin-left: 37rem;
  margin-top: -4rem;
  color: #90a3bf;
}

.ingresoTarjeta {
  width: 35rem;
  min-height: 3rem;
  background-color: #f0f0f0;
  border-radius: 0.7rem;
  margin: 1rem;
  margin-left: 3em;
  cursor: pointer;
}

body.dark .ingresoTarjeta {
  background-color: #000000;
  outline: solid 1px #ffffff;
  box-shadow: 10px 10px 5px 1px #ffffff5d;
}

.seleccion {
  margin-left: 1.5rem;
}
.selectMetodo {
  width: 12rem;
  height: 1.5rem;
  margin: 1rem;
  margin-left: 5rem;

  font-weight: 600;
}

.seleccionTarjeta {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.eleccionTarjeta {
  position: absolute;
  margin-left: 5px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.logosTarjeta {
  height: 2.2rem;
  width: 2.2rem;
  margin-bottom: -0.8rem;
  margin-left: 1rem;
}

.labelMetodo {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.inputMetodo {
  width: 15rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
}

.gridDatosTarjeta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5.2em 5.2em;
  gap: 0.6em;
  padding: 2rem;
}

.cajaInputTarjeta {
  display: flex;
  flex-direction: column;
}

.cajaTransferenciaBancaria {
  width: 35rem;
  min-height: 3rem;
  background-color: #f0f0f0;
  border-radius: 0.7rem;
  margin: 1rem 1rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.labelTarjeta {
  margin: auto;
  margin-left: 1.5rem;
  margin-top: 10px;
}

.eleccionTranferencia {
  position: absolute;
  margin-left: 5px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.conteinerTransferencia {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
}

.conteinerTransfer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.tituloTransferencia {
  margin-top: 1rem;
}

.containerCbuTransfer {
  margin: 0.7rem;
  display: flex;
  flex-direction: column;
}

.containerArrastre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.3rem 1rem 1rem 1rem;
  padding: 0.5rem;
  border: solid #4e0000 2px;
  background-color: #ffffff;
  min-height: 10rem;
  box-shadow: 4px 4px 4px 4px rgba(82, 0, 0, 0.541);
  border-radius: 1rem;
}

.containerArrastre.Activo {
  border: solid #00791a 2px;
  box-shadow: 4px 4px 4px 4px rgba(0, 122, 31, 0.247);
}

.comprobante {
  margin: 0.4rem 0 1rem 0;
}

.transferenciaBancaria {
  margin: auto;
  margin-left: 1.5rem;
}

.infoImportante {
  width: 45rem;
  height: 35rem;
  border-radius: 0.7rem;
  background-color: #ffffff;
  margin: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0 0 13px rgba(199, 199, 199, 0.1);
}

body.dark .infoImportante {
  background-color: black;
}

.tituloInfo {
  margin-left: 1rem;
}

.subtituloInfo {
  margin-left: 1rem;
  font-size: 14px;
  color: #90a3bf;
}

.paso3 {
  margin: 1rem;
  font-size: 15px;
  position: absolute;
  margin-left: 37rem;
  margin-top: -4rem;
  color: #90a3bf;
}

.seguroDelAuto {
  width: 60rem;
  border-radius: 0.7rem;
  margin: 1rem;
}

.tituloSeguro {
  margin: 1rem;
}

.liSeguroAuto {
  margin: 1rem;
}

.entregaYdevolucion {
  margin: 1rem;
}

.tituloEntrega {
  margin: 1rem;
}

.liEntrega {
  margin: 1rem;
}

.cajaAceptoTerminos {
  display: flex;
  margin-top: 4rem;
}

.aceptoTerminos {
  width: 3rem;
  height: 3rem;
  margin-top: 0.2rem;
}

.requisitosAlRetirar {
  width: 27rem;
  height: 5rem;
  margin: 1rem;
}

.TituloRequisitos {
  margin: 1rem;
}

.liRequisitos {
  margin: 1rem;
}

.aceptoTerminos {
  width: 1rem;
  height: 1rem;
  border-radius: 0.313;
  border: solid black 0.063;
  margin-right: 0.5rem;
}

.textoAcepto {
}

.resumenDeAlquiler {
  width: 30rem;
  height: 33rem;
  border-radius: 0.7rem;
  background-color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 13px rgba(199, 199, 199, 0.1);
}

body.dark .resumenDeAlquiler {
  background-color: black;
}

.tituloResumen {
  margin-left: 1rem;
}

.subtituloResumen {
  margin-left: 1rem;
  font-size: 14px;
  color: #90a3bf;
}
.cajaValoracionAuto {
  display: flex;
  flex-direction: row;
}
.imagenResumen {
  width: 11rem;
  height: 5rem;
  margin: 1rem;
}

.nombreAutos {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1rem;
  margin: 1rem;
}

.valoracionResumen {
  display: flex;
  flex-direction: row;
  margin-left: 0.4rem;
  margin-left: 1rem;
}

.cajaSubtotal {
  display: flex;
  flex-direction: row;
}

.cajaImpuestos {
  display: flex;
  flex-direction: row;
}

.cajaPrecioFinal {
  display: flex;
  flex-direction: row;
}

.estrella {
  width: 1rem;
  height: 1rem;
}

.valoracion {
  font-size: 0.8rem;
  margin-left: 0.4rem;
}

.linea {
  width: 27rem;
  height: 0.063rem;
  border: solid #000000 0.063rem;
  margin: 1rem;
}

body.dark .linea {
  border: solid #ffffff 0.063rem;
}

.tituloSubtotal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.7rem;
  color: #90a3bf;
}

.subtotal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.7rem;
  margin-left: 14.5rem;
}

.tituloImpuestos {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.7rem;
  color: #90a3bf;
}

.impuestos {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.7rem;
  margin-left: 14rem;
}

.tituloPrecioFinal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.25rem;
  margin: 1rem;
}

.subtituloPrecioFinal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.875rem;
  margin: 1rem;
  color: #90a3bf;
}

.precioFinal {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.75rem;
  margin: 1rem;
}

.botonRentar {
  width: 18rem;
  height: 4rem;
  border-radius: 0.7rem;
  background-color: #6366f1;
  margin: 1rem;
  color: #ffffff;
  transition: 0.3s;
}

.botonCancelar {
  width: 18rem;
  height: 4rem;
  border-radius: 0.7rem;
  border: solid black 1px;
  margin: 1rem;
  transition: 0.2s;
}

.botonRentar:hover {
  background-color: #473fdb;
}

.botonCancelar:hover {
  background-color: #e90303ab;
  color: #ffffff;
}
