/* -------- Reset básico y tipografía -------- */
:root {
  font-family: "Poppins", sans-serif;
  --transition: all 0.2s ease;
  --bg-color: #f9fafb;
  --text-color: #1f2937;
  --link-color: #2563eb;
  --link-hover-color: #1d4ed8;
  --navbar-bg: #f3f4f6;
  line-height: 1.6;
  font-weight: 400;
  color: #1f2937;
  background-color: #f6f7f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 50px;
}
body.dark {
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
  --link-color: #60a5fa;
  --link-hover-color: #3b82f6;
}
/* -------- Etiquetas -------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Links Sosa-Color bien*/
a {
  color: #646cff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #1d4ed8;
}
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  transition: all 0.2s ease;
}
/* -------- Tipografía -------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
p {
  margin-bottom: 1rem;
  line-height: 1.6;
}
/* -------- Diseño responsive -------- */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ESTILOS PARA OVERLAY */

.bloquear-scroll {
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
}

.desbloquear-scroll {
  overflow-y: auto;
  background-color: #f9fafb;
}
