.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5e49d8;
  padding: 10px 24px;
  color: white;

  /* estilos sosa para navbar Fija en la pagina */
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.navbar-left .navbar-logo {
  width: 80px;
  height: auto;
  cursor: pointer;
}
.navbar-center {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.search-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 999px;
  padding: 0px 18px;
  width: 100%;
  max-width: 350px;
}
.search-icon {
  color: gray;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
}
.icon-wrapper {
  display: flex;
  gap: 40px;
  padding: 0px 120px;
}
.user-container,
.cars-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-search {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 999px;
  font-size: 14px;
}
.navbar-search::placeholder {
  font-size: 12px;
  color: rgb(128, 128, 128);
  font-style: oblique;
}
.navbar-filter img {
  height: 20px;
  width: 20px;
}
.navbar-right {
  display: flex;
  gap: 20px;
}
.BsCalendarDateFill-icon,
.faHome-icon,
.faUserEdit-icon,
.faCar-icon {
  height: 24px;
  width: auto;
  cursor: pointer;
  color: white;
}
.BsCalendarDateFill-icon {
  height: 22px;
}
.user-dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 35px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-width: 160px;
}
.dropdown-menu button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  color: #333;
  margin: 4px;
  transition: background 0.2s;
}
.dropdown-menu button:hover {
  width: 95%;
  color: white;
  border-radius: 8px;
  background-color: #5e49d8;
}
.icon-item-profile {
  margin-right: 5px;
}
.dropdown-submenu {
  position: relative;
}
.submenu {
  position: absolute;
  top: 0;
  right: 101%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 140px;
}
.submenu button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  color: #333;
  margin: 4px;
  transition: background 0.2s;
}
.submenu button:hover {
  width: 95%;
  color: white;
  border-radius: 8px;
  background-color: #5e49d8;
}
.active-language {
  background-color: #ddd;
  font-weight: bold;
}
.fade-button,
.navbar-search,
.navbar-language {
  transition: all 0.3s ease;
  opacity: 1;
}

.navbar-search.fade-out {
  opacity: 0;
}
.navbar-language.fade-out {
  opacity: 0;
}
.fade-button.fade-out {
  opacity: 0;
}
/*--------------------------------*/
body.dark .navbar {
  background-color: black;
}
body.dark .dropdown-menu {
  background-color: black;
  border: 1px solid white;
}
body.dark .dropdown-menu button {
  color: white;
}
body.dark .dropdown-menu button:hover {
  background-color: white;
  color: black;
}
body.dark .submenu {
  background-color: black;
  border: 1px solid white;
}
body.dark .submenu button {
  color: white;
}
body.dark .submenu button:hover {
  background-color: white;
  color: black;
}
