* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navRegister {
  width: 100%;
  height: 6em;
  background-color: #4338cad1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.divBusqueda {
  margin-left: 2.5em;
  position: relative;
  display: inline-flex;
}

.botonBuscar,
.botonSettings {
  display: inline;
  border-radius: 5em;
  height: 2.2em;
  position: absolute;
  background-color: #ffffff;
  border: none;
  margin-top: 0.3em;
}

.botonBuscar {
  left: 0.5em;
}

.botonSettings {
  right: 0.5em;
}

.imagenBuscar,
.settings {
  width: 1.4em;
  height: 1.4em;
  display: flex;
}

.barraBusqueda {
  height: 2.64em;
  width: 29.52em;
  border-radius: 3em;
  border: none;
  padding-left: 5em;
  padding-right: 5em;
  transition: color 0.6s ease;
}

.barraBusqueda:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.247);
}

.imagenAuto {
  width: 2em;
  height: 2em;
  margin-left: 28em;
  color: #fff;
  cursor: pointer;
}

.imagenPersona {
  width: 2em;
  height: 2em;
  margin-left: 4em;
  color: #fff;
  cursor: pointer;
}

.formRegister {
  margin: 4em 6.5em 4em 6.5em;
  background-color: #ffffff;
  border-radius: 0.6em;
  padding: 2em 3em;
  box-shadow: 10px 10px 10px 10px #83838340;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body.dark .formRegister {
  background-color: #000000;
  border: solid #ffffff 1px;
}

.titleRegister {
  width: 13.2em;
  height: 1em;
  margin: 0.4em auto 1em auto;
  padding: 0;
  font-family: Poppins;
  font-size: 1.95rem;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

#icono {
  height: 1.2em;
  width: 1.2em;
}

.labelRegister {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.25em;
  margin-left: 0.2em;
}

.inputRegister {
  width: 24em;
  height: 3em;
  background-color: #c3d4e966;
  border-radius: 0.6em;
  padding: 1em;
  border: none;
  border: 1px solid #d1d5db;
  box-shadow: 0.085em 0.085em 0.085em 0.085em #211b5c36;
  transition: border-color 0.3s;
}

.inputRegister:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

@media (width >= 1760px) {
  .inputRegister {
    width: 26rem;
    height: 3em;
    background-color: #c3d4e966;
    border-radius: 0.6em;
    padding: 1em;
    border: none;
    border: 1px solid #d1d5db;
    box-shadow: 0.085em 0.085em 0.085em 0.085em #211b5c36;
    transition: border-color 0.3s;
  }
}

@media (width <= 1277px) {
  .inputRegister {
    width: 16rem;
    height: 3em;
    background-color: #c3d4e966;
    border-radius: 0.6em;
    padding: 1em;
    border: none;
    border: 1px solid #d1d5db;
    box-shadow: 0.085em 0.085em 0.085em 0.085em #211b5c36;
    transition: border-color 0.3s;
  }
}

@media (width <= 825px) {
  .inputRegister {
    width: 14rem;
    height: 3em;
    background-color: #c3d4e966;
    border-radius: 0.6em;
    padding: 1em;
    border: none;
    border: 1px solid #d1d5db;
    box-shadow: 0.085em 0.085em 0.085em 0.085em #211b5c36;
    transition: border-color 0.3s;
  }
}

.containerLabelInput {
  display: flex;
  flex-direction: column;
}

.error-message {
  height: 1rem;
  color: red;
  font-size: 0.72rem;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.error-message.visible {
  opacity: 1;
}

.gridRegister {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) minmax(200px, 1fr);
  grid-template-rows: 5.2em 5.2em 5.2em;
  gap: 0.6em;
}
@media (width <= 1085px) {
  .gridRegister {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr);
    grid-template-rows: 5.2em 5.2em 5.2em 5.2em 5.2em;
    gap: 0.2em;
    align-items: center;
  }
}

@media (width <= 792px) {
  .gridRegister {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.divButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.6em;
}
.buttonRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: 100%;
  background-color: #6366f1;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 2em;
}

.buttonRegister:hover {
  background-color: #4f46e5;
}

.tienesCuenta {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #6b7280;
}

.tienesCuenta a {
  color: #6366f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.tienesCuenta a:hover {
  text-decoration: underline;
}

.login-footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.75rem;
  color: #777;
}
